.grid {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(145, 145, 145);
}

.mole {
    background-image: url("./mole_1280.png");
    background-size: cover;
}